.container {
	width: 100%;
	text-align: center;
	position: relative;
	display: none;
}

.background {
	position: absolute;
	width: 800px;
	height: 600px;
	left: 0;
	background: rgb(114, 145, 211);
}

canvas {
	margin: 100px auto;
	border: 2px solid #033c4f;
}