body {
	font-family: 'Londrina Solid', cursive;
	color: #033c4f;
}

.container {
	width: 100%;
	text-align: center;
	position: relative;
}

.hidden {
	display: none;
}

.background {
	position: absolute;
	width: 800px;
	height: 600px;
	left: 0;
	background: rgb(114, 145, 211);
}

canvas {
	margin: 50px auto;
	border: 0px solid #033c4f;
}